---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Paul\'s Space';
const description = 'Paul Aguilar\'s Space';
const permalink = Astro.site.href;

//Components

import ProfileMain from '../components/ProfileMain.astro';
import ProfileSideBar from '../components/ProfileSideBar.astro';


// Your Styles
import '../styles/MyStyles.css';

---

  


  <!-- Main Header Ends -->
    <BaseLayout title={title} description={description} permalink={permalink}>

    <div class="page-content-container">
      <div class="flex pr-20">
      <ProfileSideBar />
    </div>
    <div class="flex pl-20">
      <ProfileMain />
    </div>
    </div>
	
</BaseLayout>

