<footer>
  <!-- Footer -->
  <footer class="footer">

    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Safety Tips</a></li>
        <li><a href="#">Contact Myspace</a></li>
        <li><a href="#">Report Inappropriate Content</a></li>
        <li><a href="#">Promote!</a></li>
        <li><a href="#">Advertise</a></li>
        <li id="last"><a href="#">MySpace International</a></li>
      </ul>
    </nav>

  </footer>
  <span>
    &copy; {new Date().getFullYear()} Paul's_Space.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Template by <a href="https://www.twitter.com/Charca" target="_blank" rel="noopener">Maxi Ferreira</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
