---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<style>

.navbar {
  display: flex;
  align-items: flex-start; /* Align items to the top to reduce height */
  background-color: rgb(102, 153, 204);
  width: 100%; /* Ensure it stretches full width */
  margin: 0; 
  padding: 0; 
  padding-top:1rem;
  height: 1rem;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.navbar li::after {
  content: '|';
  margin: .33rem;
  color: black;
}

.navbar li:last-child::after {
  content: '';
}

.navbar a {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-left: 20px;
  min-width: 70px;
  text-align: center;
  font-size: 0.875rem; /* Smaller text */
}

.navbar a:hover {
  color: #003399;
}

a::before {
  content: '';
  position: absolute;
  transition: transform .3s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--text-secondary);
  transform: scaleX(0);
}

a:hover::before,
.selected::before {
  transform: scaleX(1);
}

.selected::before {
  background: var(--primary-color);
}

.theme-toggle-container {
  width: 75px;
}

@media screen and (max-width: 520px) {
  .theme-toggle-container {
    margin-right: 1em;
  }
}

</style>

<nav class="navbar text-sm w-full">
  <div class="flex justify-center items-center w-full py-2"> <!-- Reduce the vertical padding here -->
    <div class="flex items-center space-x-4">
      <span class="text-gray-500">|</span> 
      <a class={current === "about" ? "selected" : ""} href='/about'>Resumé</a>
      <span class="text-gray-500">|</span> 
      <a class={current === "blog" ? "selected" : ""} href='/portfolio'>Portfolio</a>
      <span class="text-gray-500">|</span> 
    </div>
  </div>
</nav>

