---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<style>

/*
  ========================================
  Navigation Bar
  ========================================
  */
  .navbar {
  display: flex;
  align-items: center;
  background-color: rgb(102, 153, 204);
  width: 100%; /* Make sure it stretches full width */
  padding: 0 1rem; /* Optional: add padding for spacing */
  margin-top: 0;
  margin-bottom: 0;	
  height:0px;
}
  
  .navbar ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  
  .navbar li::after {
    content: '|';
    margin: .33rem;
    color: black;
  }
  
  .navbar li:last-child::after {
    content: '';
  }
  
  .navbar a:hover {
    color: #003399;
  }
  

  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom:0;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 70px;
    text-align: center;
  }

  a::before {
    content: '';
    position: absolute;
    transition: transform .3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--text-secondary);
    transform: scaleX(0);
  }

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }

  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    .theme-toggle-container {
      margin-right: 1em;
    }
  }

</style>

<nav class="navbar text-sm w-full">
  <div class="flex justify-center items-center w-full py-2"> <!-- Reduce the vertical padding here -->
    <div class="flex items-center space-x-4">
      <span class="text-gray-500">|</span> 
      <a class={current === "about" ? "selected" : ""} href='/about'>Resumé</a>
      <span class="text-gray-500">|</span> 
      <a class={current === "blog" ? "selected" : ""} href='/portfolio'>Portfolio</a>
      <span class="text-gray-500">|</span> 
    </div>
  </div>
</nav>

