<!-- Profile Sidebar Begins -->
<div class="flex flex-col w-full">
  <aside class="profile-sidebar space-y-6">
    
    <div class="profile-picture-container grid grid-cols-1 md:grid-cols-2 gap-4 items-center w-96 pl-10">
      <!-- Left Column: Name and Profile Image -->
      <div class="flex flex-col items-center text-center mb-0">
        <!-- Name on top -->
        <header class="text-2xl font-bold mb-4">
          Paul Aguilar
        </header>
        <!-- Profile Image and Text -->
        <div class="flex flex-col items-center justify-center mb-4">
          <!-- Profile Image -->
          <img class="profile-pic h-52 w-48 object-cover mb-0" src="me.jpg" alt="This is me.">
          
          <!-- "View My" Links (Force this onto a new line) -->
          <p class="pics-videos block text-sm mt-2">View My: 
            <a href="#" class="text-sm font-bold">Pics</a> | 
            <a href="#" class="text-sm font-bold">Videos</a>
          </p>
        </div>
      </div>
    
      <!-- Right Column: Text Content -->
      <div class="text-sm pt-10 pb-16">
    
        <ul class="gender-age space-y-1 text-sm">
          <p class="personal-msg text-left mb-4"><b>":-)"</b></p>

          <li>Male</li>
          <li>33 years old</li>
          <li>Spokane,</li>
          <li>WA</li>
          <li>United States</li>
        </ul>
    
    <ul class="last-login mt-4 space-y-0 text-sm">
      <li class="mb-0">Last Login:</li>
      <li>4/22/2006</li>
    </ul>
      </div>
      

    
    </div>

    <!-- Contact Box -->
    <section class="contact-box border-2 border-[#6699CC] h-54 w-96" style="margin-top: -1.5rem;">
      <h2 class="text-lg font-light bg-[#6699CC] text-white mt-0 pl-3">Contacting Paul</h2>
      <div class="grid grid-cols-2 gap-4 text-sm pl-7">
        <div>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href="mailto:paguilar4@ewu.edu">Email</a></p>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href="https://www.linkedin.com/in/paul-aguilar-12134296/">Linkedin</a></p>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href="https://bsky.app/">Bluesky</a></p>
        </div>
        <div>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href="https://github.com/pja6">Github</a></p>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href="https://codepen.io/pja6"> CodePen</a></p>
          <p class="p-0 m-0 font-semibold"><a class="text-sm" href='/portfolio'>Portfolio</a></p>
        </div>
      </div>
    </section>

    <!-- MySpace URL -->
    <section class="myspace-url-box space-y-2 border-2 border-[#6699CC] w-96 pl-2">
      <h3 class="text-sm font-semibold mb-0"><b>PaulSpace URL:</b></h3>
      <a href="https://www.github.com/pja6" class="text-blue-500">https://www.pja6.github.io</a>
    </section>

    <!-- Interests Section -->
    <section class="interests space-y-4 " style="margin-top: -1.5rem;">
      <table class="sidebar-table w-96">
        <caption>
          <h2 class="sidebar-table-h2 text-lg font-serif font-bold py-6">Paul's Interests</h2>
        </caption>
        <tbody>
  <tr class="w-96">
    <th class="sidebar-table-header text-center py-2" scope="row">General</th>
    <td class="sidebar-table-data text-left py-2">
      <p class="mt-0 mb-0 last:mb-0 text-sm text-black">Internet, Movies, Reading, Dancing, Baseball, 
        Language, Culture, History of Philosophy, Alternative Music, Running, Finding New Food, Photography, 
        Hiking, Science Fiction, Travel, Building communities</p>
    </td>
  </tr>
</tbody>

      </table>
    </section>

    <!-- Paul's Details Section -->
    <section class="details space-y-4 w-96 text-black" style="margin-top: -1.5rem;">
      <table class="sidebar-table w-full">
        <caption>
          <h2 class="sidebar-table-h2 text-lg font-serif font-bold py-6">Paul's Details</h2>
        </caption>
        <tbody>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Status:</th>
            <td class="sidebar-table-data">Looking for work</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Here For:</th>
            <td class="sidebar-table-data">Networking, Friends</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Hometown:</th>
            <td class="sidebar-table-data">Lakewood, WA</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Ethnicity:</th>
            <td class="sidebar-table-data">Hispanic</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Zodiac Sign:</th>
            <td class="sidebar-table-data">Libra</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Smoke / Drink:</th>
            <td class="sidebar-table-data">No / No</td>
          </tr>
          <tr class="text-sm">
            <th class="sidebar-table-header" scope="row">Occupation:</th>
            <td class="sidebar-table-data">Student</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Paul's Schools Section -->
    <section class="schools space-y-4 w-96 text-black" style="margin-top: -1.5rem;">
      <table class="sidebar-table w-full">
        <caption>
          <h2 class="sidebar-table-h2 text-lg font-serif font-bold py-6">Paul's Schools</h2>
        </caption>
        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul class="mt-0 pt-2">
                <li class="text-sm p-0 m-0 text-blue-600"><a href="https://www.ewu.edu/">Eastern Washington University</a></li>
                <li class="text-sm p-0 m-0">Spokane, WA</li>
                <li class="text-sm p-0 m-0">Graduated: <a href="#">TBD</a></li>
                <li class="text-sm p-0 m-0">Degree: Bachelor's Degree</li>
                <li class="text-sm p-0 m-0">Major: Computer Science</li>
                <li class="text-sm p-0 m-0">Clubs: Cybersecurity Club</li>

              </ul>
            </th>
            <td class="sidebar-table-data text-sm">2022-Present</td>
          </tr>
          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul class="mt-0 pt-2">
                <li class="text-sm p-0 m-0 text-blue-600"><a href="https://www.washington.edu/">University Of Washington-Seattle</a></li>
                <li class="text-sm p-0 m-0" style="font-weight: light;">Seattle, WA</li>
                <li class="text-sm p-0 m-0">Graduated: <a href="#">2014</a></li>
                <li class="text-sm p-0 m-0 font-normal">Student status: Alumni</li>
                <li class="text-sm p-0 m-0">Degree: Bachelor's Degree</li>
                <li class="text-sm p-0 m-0">Major: Psychology & Philosophy</li>
                <li class="text-sm p-0 m-0">Clubs: Film Club</li>
              </ul>
            </th>
            <td class="sidebar-table-data text-sm">2010 to 2014</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
</div>
<!-- Profile Side Bar Ends -->

<style>

 /*
  ========================================
  Sidebar Table Class
  ========================================
  */
  .sidebar-table {
    border: 2px solid rgb(102, 153, 204);
    display: table;
    border-collapse: separate;
    border-spacing: 3px;
  }
  
  .sidebar-table-h2 {
    background-color: rgb(102, 153, 204);
    color: white;
    text-align: left;
    height: 17px;
    padding-left: 15px;
    padding-top: 2px;
  }
  
  .sidebar-table-header {
    vertical-align: top;
    text-align: left;
    width: 107px;
    background-color: rgb(177, 208, 240);
    color: #336699;
    padding: 3px;
    font-weight: bold;
    font-size: 8pt;
  }
  
  .sidebar-table-data {
    width: 184px;
    background-color: rgb(213, 232, 251);
    padding: 3px;
  }
  
  /*
  ========================================
  Interests
  ========================================
  */
  .interests p {
    margin-top: 0;
  }
  
  .interests p:only-child,
  .interests p:last-child {
    margin-bottom: 0;
  }
  
  .interests table {
    margin-bottom: 13px;
  }
  
  /*
  ========================================
  Details
  ========================================
  */
  .details table {
    margin-bottom: 22px;
  }
  
  /*
  ========================================
  Schools
  ========================================
  */
  .schools .sidebar-table-header {
    width: 228px;
    color: black;
    font-weight: normal;
  }
  
  .schools .sidebar-table-data {
    width: 63px;
    text-align: center;
    vertical-align: top;
  }
  
  .schools ul {
    margin-bottom: 2em;
  }
  
  


</style>