---
const { current = '' } = Astro.props;

--- 
 
 
 
 
 <!-- Profile Sidebar Begins -->
<div class="container">
 <aside class="profile-sidebar">

    <header>
      <h1>Paul Aguilar</h1>
    </header>

    <!-- Profile Picture -->
    <div class="profile-picture-container">
      <img class="profile-pic" src="me.jpg" alt="This is me.">

      <p class="personal-msg"><b>":-)"</b></p>

      <ul class="gender-age">
        <li>Male</li>
        <li>30 years old</li>
        <li>Spokane,</li>
        <li>WA</li>
        <li>United States</li>
      </ul>

      <ul class="last-login">
        <li>Last Login:</li>
        <li>4/22/2006</li>
      </ul>

      <p class="pics-videos">View My: <a href="#"><b>Pics</b></a> | <a href="#"><b>Videos</b></a></p>
    </div>

    <!-- Contact Box -->
    <section class="contact-box">
      <h2>Contacting Paul</h2>

      <figure class="contact-images">
        <img src="pictures/sendMailIcon.gif" alt="Send Message">
        <img src="pictures/forwardMailIcon.gif" alt="Forward to Friend">
        <img src="pictures/addFriendIcon.gif" alt="Add to Friends">
        <img src="pictures/addFavoritesIcon.gif" alt="Add to Favorites">
        <img src="pictures/messagefriend.gif" alt="Instant Message">
        <img src="pictures/blockUser.gif" alt="Block User">
        <img src="pictures/addToGroupIcon.gif" alt="Add to Group">
        <img src="pictures/rankUserIcon.gif" alt="Rank User">
      </figure>
    </section>

    <!-- MySpace URL -->
    <section class="myspace-url-box">
      <h3><b>MySpace URL:</b></h3>
      <p>http://www.PaulSpace.com/home</p>
    </section>

    <!-- Interests Section -->
    <section class="interests">
      <table class="sidebar-table">

        <caption>
          <h2 class="sidebar-table-h2">Paul's Interests</h2>
        </caption>

        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">General</th>
            <td class="sidebar-table-data">
              <p>Internet, Movies, Reading, Dancing, Karaoke, Baseball, Language, Culture, History of Communism, Philosophy, Singing/Writing Music, Running, Finding New Food, Weight Lifting, Hiking, WWI Aviation, Travel, Building alternate communities</p>
            </td>
          </tr>

          

        </tbody>
      </table>
    </section>

    <!-- Tom's Details Section -->
    <section class="details">
      <table class="sidebar-table">

        <caption>
          <h2 class="sidebar-table-h2">Paul's Details</h2>
        </caption>

        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">Status:</th>
            <td class="sidebar-table-data">Single</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Here For:</th>
            <td class="sidebar-table-data">Networking, Dating, Serious Relationships, Friends</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Hometown:</th>
            <td class="sidebar-table-data">San Diego</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Ethnicity:</th>
            <td class="sidebar-table-data">White / Caucasian</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Zodiac Sign:</th>
            <td class="sidebar-table-data">Libra</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Smoke / Drink:</th>
            <td class="sidebar-table-data">No / No</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">Occupation:</th>
            <td class="sidebar-table-data">MySpace</td>
          </tr>

        </tbody>
      </table>
    </section>

    <!-- Tom's Schools Section -->
    <section class="schools">
      <table class="sidebar-table">

        <caption>
          <h2 class="sidebar-table-h2">Paul's Schools</h2>
        </caption>

        <tbody>
          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul>
                <li><a href="#">University Of California-Los Angeles</a></li>
                <li>Los Angeles, CALIFORNIA</li>
                <li>Graduated: <a href="#">2000</a></li>
                <li>Degree: Master's Degree</li>
                <li>Major: Film - Critical Studies</li>
              </ul>
            </th>
            <td class="sidebar-table-data">1999 to 2000</td>
          </tr>

          <tr>
            <th class="sidebar-table-header" scope="row">
              <ul>
                <li><a href="#">University Of California-Berkeley</a></li>
                <li>Berkeley, CALIFORNIA</li>
                <li>Graduated: <a href="#">1997</a></li>
                <li>Student status: Alumni</li>
                <li>Degree: Bachelor's Degree</li>
                <li>Major: English & Rhetoric</li>
                <li>Clubs: DECAL: Literary Theory</li>
              </ul>
            </th>
            <td class="sidebar-table-data">1993 to 1996</td>
          </tr>

        </tbody>
      </table>

    </section>
  </aside>
</div>
  <!-- Profile Side Bar Ends -->